@import '../../styles/variables.scss';

.section {
  height: 7rem;
  background-color: $footer-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}
