$white: #ffffff;
$black: #232323;
$gray: #ccc;
$gray-light: #555555;
$gray-dark: #424242;
$red: #f65261;
$green: #a1e66f;
$semi-transparent-black: rgba($gray-dark, 0.7);

$header-color: $black;
$sort-panel-color: $gray-light;
$content-section-color: $black;
$footer-color: $gray-dark;
$vote-color: $green;

$tablet: 900px;
